<div class="row">
	<div class="col s12">
    <% if current_user.permission_level == 'big_dawg' %>
		  <h2 class="grey-text">Read all of these, Dawg.</h2>
    <% else %>
      <h2 class="grey-text">Read all of these, dawg.</h2>
    <% end %>
	</div>
</div>

<!-- There is a slight issue here. @articles is actually recent versions. -->
<% @articles.each do |current_version| %>
	<div class="divider"></div>
		<div class="section">
	    <h5><%= link_to current_version.article.title,  show_recent_path(current_version.article.slug), class: "index_li" %></h5>
	    <p class="index_li">Sample Text</p>
		</div>
<% end %>
