<h2>Here's Your Profile</h2>


<h4> Unpublished Articles. </h4>
<% unpublished = current_user.versions.select do |version| %>
  <% !version.is_published %>
<% end %>

<% unpublished.each do |version| %>
  <div><%= link_to version.article.title, show_version_path(version.article.slug , version) %></div>
<% end %>


<% user_published = Article.published_articles.select{|article| article.orig_author == current_user} %>
<% user_published = Article.published_articles.select{|article| article.orig_author == current_user} %>


<h4>Published Articles</h4>
<% user_published.each do |article| %>
  <div><%= article.title %></div>
<% end %>

<h4>All articles</h4>
<% current_user.articles.each do |article| %>
  <div> <%= article.title %> </div>
<% end %>



