<footer class="page-footer  brown darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="cyan-text text-lighten-1">Dawgs gotta know wassup</h5>
      </div>
      <div class="col l6 s12">
      <div class="row">
        <div class="col s4"><a class="cyan-text text-lighten-1" href="http://www.github.com/bastonis">Bastonis</a></div>
        <div class="col s4"><a class="cyan-text text-lighten-1" href="https://www.github.com/caonayemi">caonayemi</a></div>
        <div class="col s4"><a class="cyan-text text-lighten-1" href="http:://www.github.com/Dwin357">Dwin357</a></div>
        <div class="col s4"><a class="cyan-text text-lighten-1" href="http:://www.github.com/markAmobi">markAmobi</div>
        <div class="col s4"><a class="cyan-text text-lighten-1" href="http:://www.github.com/shawndav">Shawndav</div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container cyan-text text-lighten-1">
    © 2015 Copyright
    </div>
  </div>
</footer>