<nav>
  <% if current_user %>
  <span><%= current_user.username %> </span> |
  <span><%= link_to 'Create new article', new_article_path %></span> |
  <span><%= link_to 'Logout', :logout, method: :delete %></span> |
  <span>
    <form id='search-bar' action="/articles/search" method='get'>
      <input type='text' name='term'>
      <input type='submit' value='search'>
    </form>
  </span>

  <% else %>
  <span>Login or sign up Below!</span>

  <% end %>
</nav>
