#create-version-container {
	position: relative;
}

#create-version-categories {
	position:abosolute;
}

#create-version-markup-field-container {
	position:abosolute;
}

#create-version-markup-instructions {
	position:abosolute;
}

#create-version-markup-display-container {
	position:abosolute;
}