<div class="row">
	<div class="col s8 offset-s2">
		<h1 class="brown-text text-darken-2">All The Categories</h1>
	</div>
</div>

<div class="row">
		<div class="divider"></div>
			<div class="section">
	<% @categories.each do |category| %>
				<div class="col s3">
		    <h5><%= link_to category.name, category_name_path(category.slug), class: "index_li green-text text-darken-1" %></h5>
		    </div>
	<% end %>
			</div>
</div>